/* Error: Can't find stylesheet to import.
 *   ,
 * 1 | @use "m"
 *   | ^^^^^^^^
 *   '
 *   abstracts\_variables.sass 1:1  @use
 *   src\sass\base\_reset.sass 2:1  @use
 *   src\sass\main.sass 1:1         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 1 \2502  @use \"m\"\d\a   \2502  ^^^^^^^^\a   \2575 \a   abstracts\\_variables.sass 1:1  @use\a   src\\sass\\base\\_reset.sass 2:1  @use\a   src\\sass\\main.sass 1:1         root stylesheet";
}
